mat-divider {
  //border-color: #E9E9E9;
  border: 1.5px solid #E9E9E9;
  width: 80%;
}

.main-content {
  background-color: #fafafa;
}

.side-nav {
  background-color: #ffffff;
}


.user-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
}

.notification-card {
  top: 125%;
  right: 60%;
  width: 27rem;
}

.add-z-index {
  z-index: 99999!important;
}
