mat-divider {
  //border-color: #E9E9E9;
  border: 1.5px solid #E9E9E9;
  width: 80%;
}

.main-content {
  background-color: #fafafa;
}

.side-nav {
  background-color: #ffffff;
}

.relative .absolute.z-10 {
  width: 100%; /* Ensures the dropdown width matches the input */
  top: 100%; /* Positions it directly below the input */
  left: 0; /* Aligns it with the input's left edge */
  transform: translateY(0); /* Ensure there's no vertical offset */
  max-width: none; /* Makes sure the dropdown doesn't exceed the input's width */
}

.user-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
}

.notification-card {
  top: 125%;
  right: 60%;
  width: 27rem;
}
